:root{
    --primary-blue: rgba(15, 70, 154, 1);
    --secondary-blue: rgba(64, 125, 216, 1);
    --html-primary-clr: rgba(248, 41, 41, 1);
    --html-secondary-clr: rgb(248, 186, 186);
    --js-primary-clr: rgba(218, 185, 44, 1);
    --js-secondary-clr: rgb(251, 240, 188);
    --react-primary-clr: rgba(4, 215, 253, 1);
    --react-secondary-clr: rgb(189, 238, 248);
    --C-primary-clr: rgba(3, 78, 133, 1);
    --C-secondary-clr: rgb(189, 222, 255);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui; 
    font-size: 1rem;
}
body{
    width: 100dvw;
    height: 100dvh;
}